* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: lightgray;
}

nav {
  display: flex;
  height: 10vh;
  color: white;
  background-color: rgb(31, 29, 29);
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
.left {
  width: 50%;
}

.left h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.left p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: rgb(99, 96, 93);
  max-width: 500px;
}
.right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.right img {
  width: 80%;
  border-radius: 15px;
}
span {
  color: #00acc1;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

nav ul li {
  position: relative;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #4dd3ff;
  transition: 0.3s;
}

nav ul li:hover::after {
  width: 100%;
}
.user {
  padding: 6px 15px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.user:hover {
  background-color: #3dbffb;
  color: rgb(255, 255, 255);
}

.left button {
  padding: 12px 25px;
  border-radius: 30px;
  background-color: #222427;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.left button:hover {
  background-color: #3dbffb;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
